body {
	margin: 0 auto;
	font-family: 'Karla', sans-serif;
	background-image: url('../images/bg.jpg');
	background-size: cover;
	color: gray;
}
#divFour {
	margin-top: 4px;
	padding-top: 4px;
	border-top: solid black 2px;
}

#myH1 {
	border-left: 3px solid lightgrey;
	margin-left: 100px;
}

#myH2 {
	border-left: 3px solid lightgrey;
	margin-left: 100px;
	color: lightgray;
	padding-left: 15px;
}
#divThree {
	padding: 40px;
	background-color: rgba(0, 0, 0, .4);
}

.myButton {
	margin: 5px;
	margin-left: 0px;
	font-weight: 30px;
	padding-top: 15px;
	padding-bottom: 15px;
	color: #ff9966;
}
.myButton:hover {
	color: #ff884d;
}
.jumbotron {
	color: #ff9966;
	border-radius: 25px;
}

.foodParambutton {
	padding-right: 4px;
	text-align: center;
}

.margin {
	margin: 4px;
	margin-right: 10px;
}

.a {
	text-decoration: none;
	color: black;
}
.a:hover {
	text-decoration: none;
	color: grey;
}
#divOne,
#divOneL {
	margin-top: 50px;
}
#divTwo,
#divThree {
	margin-top: 20px;
}
#divFour {
	padding-bottom: 20px;
}
#init {
	padding-top: 250px;
	padding-bottom: 60px;
	background-image: url(../images/sun.gif);
	background-position: center;
}
#logInit,
#signInit {
	margin-left: 5px;
	padding: 35;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: rgba(0, 0, 0, .4);
	color: fff;
	text-align: center;
}

@media (max-width: 300px) {
	#init,
	#divOne,
	#divOneL,
	#divTwo,
	#divThree,
	#divFour {
		margin-left: 10px;
	}
}
