body {
	margin: 0 auto;
	background-image: url('../images/bg.jpg');
	background-size: cover;
}
#divFour {
	margin-top: 4px;
	padding-top: 4px;
	border-top: solid black 2px;
}

#myHeader {
	color: lightgray;
	padding-left: 5px;
	margin-left: 20px;
	border-left: 3px solid lightgrey;
}
#divThree {
	padding-bottom: 40px;
	background-color: rgba(0, 0, 0, .4);
}
.jumbotron {
	border-radius: 10px;
}
.foodParambutton {
	padding-right: 4px;
}

.margin {
	margin: 4px;
	margin-right: 10px;
}

.a {
	text-decoration: none;
	color: black;
}
.a:hover {
	text-decoration: none;
	color: grey;
}
#divOne,
#divOneL,
#divTwo,
#divThree {
	margin-top: 20px;
}

#init {
	padding-top: 50px;
}

@media (max-width: 300px) {
	#init,
	#divOne,
	#divOneL,
	#divTwo,
	#divThree,
	#divFour {
		margin-left: 10px;
	}
}
