body {
	margin: 0 auto;
	overflow-x: hidden;
	font-family: 'Karla', sans-serif;
	background-image: url('../images/bg.jpg');
	background-size: cover;
	color: #313639;
	box-sizing: border-box;
}
.card-header {
	background-color: rgba(255, 255, 255, .8);
	color: #313639;
	border-bottom: 2px double #ff6600;
	box-sizing: border-box;
}

#divFour {
	margin-top: 4px;
	padding-top: 4px;
	border-top: solid black 2px;
	box-sizing: border-box;
}

#myH1 {
	border-left: 3px solid lightgrey;
	margin-left: 100px;
	box-sizing: border-box;
}

#myH2 {
	border-left: 3px solid lightgrey;
	margin-left: 100px;
	color: lightgray;
	padding-left: 15px;
	box-sizing: border-box;
}
#divThree {
	padding: 40px;
	background-color: rgba(0, 0, 0, .4);
	box-sizing: border-box;
}

.myButton {
	margin: 5px;
	margin-left: 0px;
	font-weight: 30px;
	padding-top: 15px;
	padding-bottom: 15px;
	color: #ff9966;
	box-sizing: border-box;
}
.myButton:hover {
	color: #ff884d;
}
.jumbotron {
	color: #ff9966;
	border-radius: 25px;
}

.foodParambutton {
	padding-right: 4px;
	text-align: center;
	box-sizing: border-box;
}

.margin {
	margin: 4px;
	margin-right: 10px;
	box-sizing: border-box;
}

.a {
	text-decoration: none;
	color: #313639;
}
.a:hover {
	text-decoration: none;
	color: #313639;
}
#divOne,
#divOneL {
	margin-top: 50px;
}
#divTwo,
#divThree {
	margin-top: 20px;
	box-sizing: border-box;
}
#divFour {
	padding-bottom: 20px;
	box-sizing: border-box;
}
#init {
	width: 97%;
	padding-top: 250px;
	padding-bottom: 60px;
	background-image: url(../images/sun.gif);
	background-position: center;
	box-sizing: border-box;
}
#logInit,
#signInit {
	color: #ff9966;
	margin-left: 0px;
	box-sizing: border-box;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: rgba(0, 0, 0, .4);
	color: fff;
	text-align: center;
}
.btn-dark:focus,
.btn-dark:active {
	outline: none !important;
	box-shadow: none;
}
.box {
	box-sizing: border-box;
}
.nome {
	color: lightgrey;
	text-align: right;
	font-size: 17px;
	margin-top: 70px;
	padding-right: 70px;
	box-sizing: border-box;
}
.color {
	color: #ff9966;
}

@media (max-width: 400px) {
	#divOne,
	#divOneL,
	#divTwo,
	#divThree,
	#divFour {
		margin-left: 0px;
		margin-top: 15px;
		box-sizing: border-box;
	}
	#init {
		width: 97%;
		margin-left: 5px;
		margin-right: 10px;
		padding-top: 325px;
		padding-bottom: 60px;
		padding-right: 0px;
		padding-left: 0px;
		box-sizing: border-box;
	}
	#myH1 {
		margin-top: 7px;
		border-left: 0px;
		margin-left: -11px;
		box-sizing: border-box;
	}

	#myH2 {
		border-left: 0px;
		margin-left: 2px;
		color: lightgray;
		padding-left: 3px;
		box-sizing: border-box;
	}
	.nome {
		margin-right: 0px;
		padding-top: 10px;
		margin-top: 0px;
		margin-left: 110px;
		text-align: center;
		box-sizing: border-box;
	}
	.welcomeUser {
		margin-left: 10px;
		margin-right: 0px;
		padding-top: 0px;
		margin-top: 0px;
		box-sizing: border-box;
	}
	body {
		overflow-x: hidden;
		box-sizing: border-box;
	}
	.footer {
		display: none;
	}
}
