body {
	margin: 0 auto;
	background-color: blue;
	background-image: url('../images/bg.jpg');
	background-size: cover;
}
#divFour {
	margin-top: 4px;
	padding-top: 4px;
	border-top: solid black 2px;
}

#myHeader {
	padding-left: 5px;
	margin-left: 20px;
	border-left: 3px solid grey;
}
#divThree {
	padding-bottom: 40px;
}
.foodParambutton {
	padding-right: 4px;
}

.margin {
	margin: 4px;
	margin-right: 10px;
}

.a {
	text-decoration: none;
	color: black;
}
.a:hover {
	text-decoration: none;
	color: grey;
}

#divTwo {
	margin-top: 20px;
}

#init {
	padding-top: 50px;
}

#init,
#divOne,
#divOneL,
#divTwo,
#divThree,
#divFour {
	margin-left: 10px;
}
